{% extends 'base.html.twig' %}

{% block body %}
<h1>Update Person</h1>

<ul class="list-inline">
    <li>
        <a href="{{ path('person_index') }}">&laquo; Return to List of People</a>
    </li>
</ul>

{{ form_start(edit_form) }}
{{ form_widget(edit_form) }}
<input name="update-person" class="btn btn-primary" type="submit" value="Update Person" />
{{ form_end(edit_form) }}
{% endblock %}
